<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary SEO -->
    <title>Figbloom Digital Group | You Imagine, We Code</title>

    <meta
        name="description"
        content="Figbloom Digital Group builds software, web platforms, AI solutions, and digital technologies that help businesses innovate, connect, and grow. You imagine, we code."
    />

    <meta
        name="keywords"
        content="Figbloom Digital Group, Figbloom, software development, web development, AI solutions, digital solutions, technology company, Kenya"
    />

    <meta name="author" content="Figbloom Digital Group" />
    <meta name="robots" content="index, follow" />

    <!-- Canonical URL -->
    <link
        rel="canonical"
        href="https://figbloom.org/"
    />

    <!-- Open Graph / Facebook / WhatsApp / LinkedIn -->
    <meta property="og:locale" content="en_KE" />
    <meta property="og:type" content="website" />

    <meta
        property="og:title"
        content="Figbloom Digital Group | You Imagine, We Code"
    />

   
     <meta
        name="og:description"
        content="We build software,  Install internet connection, AI powered security cameras, and digital technologies that turn ideas into reality. You imagine, we code."
    />
    <meta
        property="og:site_name"
        content="Figbloom Digital Group"
    />

    <meta
        property="og:url"
        content="https://figbloom.org/"
    />

    <meta
        property="og:image"
        content="https://figbloom.org/assets/images/figbloom-og-image.jpg"
    />

    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter / X -->
    <meta
        name="twitter:card"
        content="summary_large_image"
    />

    <meta
        name="twitter:title"
        content="Figbloom Digital Group | You Imagine, We Code"
    />

    <meta
        name="twitter:description"
        content="We build software,  Install internet connection, AI powered security cameras, and digital technologies that turn ideas into reality. You imagine, we code."
    />

    <meta
        name="twitter:image"
        content="https://figbloom.org/assets/images/figbloom-og-image.jpg"
    />

    <!-- Favicon -->
    <link
        rel="icon"
        type="image/png"
        href="/assets/images/figbloom_logo.png"
    />

    <!-- Styles -->
    <link
        rel="stylesheet"
        href="assets/css/swiper-bundle.min.css"
    />

    <link
        rel="stylesheet"
        href="https://unpkg.com/aos@2.3.4/dist/aos.css"
    />

    <link
        rel="stylesheet"
        href="assets/css/style.css"
    />

    <!-- Scripts -->
    <script src="https://unpkg.com/rough-notation/lib/rough-notation.iife.js"></script>
</head>